@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-image: url("/Gemini_Generated_Image_rmud7qrmud7qrmud.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  background-position-x: center;
  background-color: #080c14;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sign-four {
  line-height: 1.1rem;
  -webkit-transform: matrix3d(
    0.77,
    0,
    -0.64,
    -0.001,
    0,
    1,
    0,
    0,
    0.64,
    0,
    0.77,
    0,
    0,
    0,
    0,
    1
  );
  color: #f0d6de;
  font-family: clipneon;
  margin-right: 2vw;
  transform: matrix3d(
    0.77,
    0,
    -0.64,
    -0.001,
    0,
    1,
    0,
    0,
    0.64,
    0,
    0.77,
    0,
    0,
    0,
    0,
    1
  );
  text-shadow:
    0.2vw 0 0.4vw #f181b2,
    0.3vw 0 0.8vw #f0d6de,
    0.4vw 0 1.5vw #f181b2,
    0.5vw 0 3vw #f2860b,
    0.6vw 0 8vw #f2860b;
}
